div dl {
  margin: 1em 0;
  padding: 0;
}

div dt {
  clear: left;
  float: left;
  width: 200px;
  margin: 0;
  padding: 5px;
  border-top: 1px solid #999;
  font-weight: bold;
}

div dd {
  float: left;
  /* width: 300px; */
  margin: 0;
  padding: 5px;
  /* border-top: 1px solid rgb(153, 153, 153); */
  background: rgb(221, 221, 221);
}

td.group-name {
  font-size: 0.9em;
  font-weight: bold;
  background: rgb(207, 207, 207);
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
